<div id="DELETE" class="tabContent">
    <form action="/delete" method="POST" class="form">
        <table>
            <col width="130px">
            <col width="*">
            <h3>Delete a student from the database</h3><br>
            <tr>
                <td>First Name:</td>
                <td>
                    <input style="width: 180px;" class="text_input" type="text" name="fname"
                        placeholder="Dean" required><br>
                </td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td>
                    <input style="width: 180px;" class="text_input" type="text" name="lname" placeholder="Chiu" required><br>
                </td>
            </tr>
            <tr>
                <td>Student ID:</td>
                <td>
                    <input style="width: 180px;" pattern="[0-9]{3}?" class="text_input" type="text"
                        name="studentID" placeholder="123" required title="Input shuld be a 3 digit number"><br>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="submit_td">
                    <input type="submit" value="Delete">
                </td>
            </tr>
        </table>
    </form>
</div>