<div id="UPDATE" class="tabContent">
    <form id="find_form" action="/find/:studentID" method="GET" class="form">
        <table>
            <col width="130px">
            <col width="*">
            <h3>Update a student from the database</h3>
            <tr>
                <td>Student ID:</td>
                <td>
                    <input style="width: 180px;" pattern="[0-9]{3}?" class="text_input" type="text" name="studentID"
                        placeholder="123" required title="Input shuld be a 3 digit number"><br>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="FIND">
                </td>
            </tr>
        </table>
    </form>

    <form id="update_form" action="/update" method="POST" class="form" style="display: none">
        <table>
            <col width="130px">
            <col width="*">
            <h3>Update a student from the database<br></h3>
            <tr>
                <td>First name:</td>
                <td>
                    <input style="width: 180px;" id="fname_update" class="text_input" type="text" name="fname" placeholder="Dean"
                        required><br>
                </td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td>
                    <input style="width: 180px;" id="lname_update" class="text_input" type="text" name="lname" placeholder="Chiu"
                        required><br>
                </td>
            </tr>
            <tr>
                <td>Student ID:</td>
                <td>
                    <input style="width: 180px;" pattern="[0-9]{3}?" id="studentid_update" class="text_input"
                        style="background-color: rgb(201, 194, 194)" type="text" name="studentID" placeholder="123"
                        readonly="readonly"><br>
                </td>
            </tr>
            <tr>
                <td>Date of birth:</td>
                <td>
                    <input style="width: 180px;" type="date" id="dob_update" name="DOB" required>
                </td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td>
                    <span>
                        <input id="radio1_update" type="radio" name="gender" value="M" checked>
                        <label for="radio1">Male</label>
                    </span>
                    <span>
                        <input id="radio2_update" type="radio" name="gender" value="F">
                        <label for="radio2">Female</label>
                    </span>
                    <span>
                        <input id="radio3_update" type="radio" name="gender" value="O">
                        <label for="radio3">Other</label>
                    </span>
                </td>
            </tr>
            <tr>
                <td>Weight:</td>
                <td>
                    <div id="wrapper">
                        <input style="width: 150px;" patter="[0-9][0-9][0-9]" max="999" min="0" step="1" type="number"
                            id="weight_update" name="weight" placeholder="120" required>
                        <div id=unit>lb</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Height:</td>
                <td>
                    <div id="wrapper">
                        <input style="width: 150px;" patter="[0-9][0-9][0-9]" max="999" min="0" step="1" type="number"
                            id="height_update" name="height" placeholder="165" required>
                        <div id=unit>cm</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Shoe size:</td>
                <td>
                    <input style="width: 100px;" type="number" id="shoe_size_update" name="shoe_size" min="3" max="15" step="0.5" value="8.0"
                        pattern="[0-9]?[0-9].[0-9]" maxlength="3">
                </td>
            </tr>
            <tr>
                <td>Hair colour:</td>
                <td>
                    <input style="width: 100px;" type="color" id="hair_color_update" name="hair_color" value="#e66465"><br>
                </td>
            </tr>
            <tr>
                <td>GPA:</td>
                <td>
                    <input style="width: 100px;" type="number" id="gpa_update" name="GPA" min="0.00" max="4.33" step="0.1" value="3.00"
                        pattern="[0-9].[0-9][0-9]{3}" maxlength="3">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="UPDATE">
                </td>
            </tr>
        </table>
    </form>
</div>